apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: mat1e0/my-app:44d6d90ee693b698867a015ae5ccaa62f46f5d9e
          ports:
            - containerPort: 5000
